game=D:\Touhou\th123\th123.exe  # 游戏路径
args=                           # 游戏运行附加参数
workdir=D:\Touhou\th123\        # 游戏运行目录
server=127.0.0.1                # 对战平台服务器地址
port=12801                      # 游戏端口
nickname=chu                    # 昵称
